<div class="dashboard">
  <input type="checkbox" id="menu-toggle">
  <div class="sidebar">
    <div class="logo">
      <img src="" alt="Logo">
    </div>
    <button *ngIf="service.isUser()" class="sidebar-btn">User Dashboard</button>
    <button *ngIf="service.isAdmin()" class="sidebar-btn">Admin Dashboard</button>
    <button *ngIf="service.isUser()" class="sidebar-btn" [routerLink]="['/user/dashboard/book-service']">Book a Service</button>
    <button *ngIf="service.isUser()" class="sidebar-btn" [routerLink]="['/user/dashboard/view-booking']">View Bookings</button>
    <button *ngIf="service.isUser()" class="sidebar-btn" (click)="DeleteUser(user?.userId)">Delete Account</button>
    <button *ngIf="service.isUser()" class="sidebar-btn" [routerLink]="['/user/dashboard/change-password']">Change Password</button>
    <button *ngIf="service.isAdmin()" class="sidebar-btn" [routerLink]="['/user/dashboard/all-bookings']">All Bookings</button>
    <button *ngIf="service.isUser()" class="sidebar-btn" [routerLink]="['/user/dashboard/add-feedbacks']">Add Feedbacks</button>
    <button *ngIf="service.isAdmin()" class="sidebar-btn" [routerLink]="['/user/dashboard/view-feedbacks']">View Feedbacks</button>
  </div>
  <div class="main-content">
    <div class="main-content">
      <div class="header">
          <label for="menu-toggle" class="hamburger">&#9776;</label>
          <div class="welcome">Welcome, <span id="username">{{user?.username}}</span></div>
          <div *ngIf="service.isAdmin()" class="dashboard-name">GharSewa ADMIN</div>
          <div class="profile-dropdown">
              <button class="profile-btn">Profile</button>
              <div class="dropdown-content">
                  <button *ngIf="service.isUser()" class="btn btn-primary" [routerLink]="['/user/dashboard/edit-profile']">Edit Profile</button>
                  <button class="btn btn-primary" (click)="onLogout()">Logout</button>
              </div>
          </div>
      </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


