<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="profile-image" alt="User Profile Image">
            <h2 class="profile-name">{{model.userName}}</h2>
        </div>
        <div class="profile-details text-center">
            <div class="profile-detail-item">
                <h3 class="profile-detail-title">Profile Information</h3>
                <div class="profile-details-grid ">
                    <div class="profile-detail">
                        <p class="profile-label">Full Name</p>
                        <p class="profile-value">{{model.fullName}}</p>
                    </div>
                    <div class="profile-detail">
                        <p class="profile-label">Address</p>
                        <p class="profile-value">{{model.address}}</p>
                    </div>
                    <div class="profile-detail">
                        <p class="profile-label">Email</p>
                        <p class="profile-value">{{model.email}}</p>
                    </div>
                    <div class="profile-detail">
                        <p class="profile-label">Phone</p>
                        <p class="profile-value">{{model.phone}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
