<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Old Password">Old Password</label>
      <input type="password" class="form-control" name="oldpassword" placeholder="Enter previous password" [(ngModel)]="model.oldpassword" >
    </div>
    <div class="form-group">
        <label for="New Password">New Password</label>
        <input type="password" class="form-control" name="newpassword" placeholder="Enter new password" [(ngModel)]="model.newpassword">
      </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
